{:log-configuration {:mode :file    ; :std-out or :file
                     :file-path "." ; required when logging to file
                     :level :info}  ; Default logging level
 :mongo-db {:host "localhost"
            :port 27017
            :username "tungsten-app"
            :password "password"
            :database-name "tungsten"
            :collection-name "tungsten"}}