{:log-configuration {:log-mode :file ; :std-out or :file
                     :log-file-path "."} ; required when logging to file
 :mongo-db {:host "localhost"
            :port 3070
            :username "user"
            :password "password"
            :database-name "db-name"}}